#ext {
	color: blue;
	font-style: italic;
}

* {
	font-family: "Monaco", monospace;
	font-size: 15px;
}

h1 {
	font-size: 35px;
}

#h2 {
	text-transform: uppercase;
}

.list {
	background-color: bisque;
}

li[value]{
	border: 3px skyblue solid;
}

img + ul {
	list-style-type: circle;
}

body img {
	height: 350px;
	width: 350px;
	border-radius: 250px;
}

h4 ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 3.5px;
}